.header {
  width: 100%;
  height: 8%;
  display: flex;
  display: flex;
  justify-content: flex-end;
}

.header button {
  width: 110px;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
  transition: 0.4s ease all;
}

.header button:hover {
  background-color: rgb(47, 47, 66);
}

.addQuoteBox {
  position: absolute;
  left: 20%;
  top: 10vh;
  width: 60%;
  height: 80vh;
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.addQuoteBox label {
  font-size: 20px;
}

.addQuoteBox input[type="text"] {
  width: 25%;
  height: 30px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.addQuoteBox input[type="checkbox"] {
  margin-right: 2px;
}

.addQuoteBox textarea {
  margin-top: 10px;
  width: 45%;
  height: 100px;
  resize: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}

.tagsContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 20%;
}
