.quoteContainer {
  width: 45%;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.quoteBody {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quoteBody p:nth-child(2) {
  align-self: flex-end;
}

.quoteScoreContainer {
  width: 20%;
  height: 100%;
}

.icon {
  color: rgb(104, 104, 104);
  transition: 0.4s all ease;
  cursor: pointer;
}

.icon:hover {
  color: rgb(141, 141, 141);
}
